<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fronts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-card class="ion-text-center ion-padding ion-margin-top">
          <ion-col class="img-responsive" size="10" size-sm="7" size-md="5" size-lg="4"> 
            <img src="../../assets/WestFront.jpg" class="figure-img rounded" alt="WestFront">
          </ion-col>
            <ion-card-header>
              <ion-card-title>Western Front</ion-card-title>
              <ion-card-subtitle>Overview:</ion-card-subtitle>
            </ion-card-header>
              <p>
                After the failure of the Schlieffen Plan in 1914, a fortified 
                and long stretch of trench lines was dug. From the shores of 
                the North Sea to the border of Switzerland. Here, the armies 
                of France, Britain, and their allies would fight for four long 
                and bloody years against the German Empire. 
              </p>
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="10" size-sm="7" size-md="5" size-lg="4"> 
            <img src="../../assets/EastFront.jpg" class="figure-img rounded" alt="EastFront">
          </ion-col>
            <ion-card-header>
              <ion-card-title>Eastern Front</ion-card-title>
              <ion-card-subtitle>Overview:</ion-card-subtitle>
            </ion-card-header>
              <p>
                Squaring off for control of the east. The German Empire and Austria-Hungary 
                battled the Russian Empire and her allies with the longest frontline of the 
                war. Too long that the static lines of trenches were utterly impossible to 
                stay for long. 
              </p>
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="10" size-sm="7" size-md="5" size-lg="4"> 
            <img src="../../assets/BalkanFront.jpg" class="figure-img rounded" alt="BalkanFront">
          </ion-col>
            <ion-card-header>
              <ion-card-title>Balkans Campaign</ion-card-title>
              <ion-card-subtitle>Overview:</ion-card-subtitle>
            </ion-card-header>
              <p>
                In the region that bellowed out the trumpets of war in 1914, nearly all 
                of the Central Powers and Entente fought one way or the other here. 
                A chaotic front that saw the changing of hands between both conflicting 
                sides. That made the Balkan nations—many previously neutral—align with 
                either warring party.
              </p>
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="10" size-sm="7" size-md="5" size-lg="4"> 
            <img src="../../assets/ItalianFront.jpg" class="figure-img rounded" alt="ItalianFront">
          </ion-col>
            <ion-card-header>
              <ion-card-title>Italian Front</ion-card-title>
              <ion-card-subtitle>Overview:</ion-card-subtitle>
            </ion-card-header>
              <p>
                A land of several hundred to thousand high mountains and slopes, the 
                Alpine Front or Italian Front was far deadlier than the Western Front. 
                The prospect of more significant injury from splinters and debris from 
                artillery shells off the mountainside made the experience abysmal. And 
                finally displayed the carnage both the Kingdom of Italy and the Austro-Hungarian 
                Empire were willing to dish out from their hated feuds that go back to the 
                First Italian War of Independence.
              </p>
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="10" size-sm="7" size-md="5" size-lg="4"> 
            <img src="../../assets/MidEast.jpg" class="figure-img rounded" alt="MidEast">
          </ion-col>
            <ion-card-header>
              <ion-card-title>Middle East Campaign</ion-card-title>
              <ion-card-subtitle>Overview:</ion-card-subtitle>
            </ion-card-header>
              <p>
                With the oil that laid under the sands the Ottoman Empire controlled, a conflict 
                of interest would occur and started by 1915 when the Turks entered the war. 
                Battling in the vast and open deserts for supremacy. The Empire of Britain would 
                duel the centuries-old Ottoman Empire under the burning sun and lack of enough water.
              </p>
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="10" size-sm="7" size-md="5" size-lg="4"> 
            <img src="../../assets/Africa.jpg" class="figure-img rounded" alt="Africa">
          </ion-col>
            <ion-card-header>
              <ion-card-title>Africa Theater</ion-card-title>
              <ion-card-subtitle>Overview:</ion-card-subtitle>
            </ion-card-header>
              <p>
                With German colonies on the African continent, an Allied response to secure these 
                Germanic lands was declared. While most German colonies out in the west and south 
                Africa would fall relatively quickly, German East Africa would continue to fight 
                till the 1918 Armistice.
              </p>
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="10" size-sm="7" size-md="5" size-lg="4"> 
            <img src="../../assets/PacificBattle.jpg" class="figure-img rounded" alt="PacificBattle">
          </ion-col>
            <ion-card-header>
              <ion-card-title>Asian-Pacific Campaign</ion-card-title>
              <ion-card-subtitle>Overview:</ion-card-subtitle>
            </ion-card-header>
              <p>
                Regulated to taking out German colonies and battling its Imperial Navy, the Entente 
                would secure shipping lanes from the Far East by 1915. Minimal fighting would engulf 
                Asia and the Pacific Ocean.
              </p>
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="10" size-sm="7" size-md="5" size-lg="4"> 
            <img src="../../assets/MajorNaval.jpg" class="figure-img rounded" alt="MajorNaval">
          </ion-col>
            <ion-card-header>
              <ion-card-title>Naval Campaign</ion-card-title>
              <ion-card-subtitle>Overview:</ion-card-subtitle>
            </ion-card-header>
              <p>
                From all across the seven seas, naval clashes between the two alliances would engulf 
                shipping lanes from the North Sea, with the British Royal Navy and German High Seas 
                Fleet. And too essential shipping lanes as Entente ships fought to maintain necessary 
                foodstuffs and munitions from being sunk by German submarines.
              </p>
      </ion-card>
    </ion-grid>
    <br>
</ion-content>
