<ion-header>
  <ion-toolbar>
    <ion-title>fronts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>The Western Front</h2>
      <figure class="figure">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>German Empire</strong>
        <figcaption class="figure-caption">The German Empire.</figcaption>
      </figure>
  </div>

  <div class="container">
    <h2>The Eastern Front</h2>
      <figure class="figure">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>German Empire</strong>
        <figcaption class="figure-caption">The German Empire.</figcaption>
      </figure>
  </div>

  <div class="container">
    <h2>The Balkans Front</h2>
      <figure class="figure">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>German Empire</strong>
        <figcaption class="figure-caption">The German Empire.</figcaption>
      </figure>
  </div>

  <div class="container">
    <h2>The Italian Front</h2>
      <figure class="figure">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>German Empire</strong>
        <figcaption class="figure-caption">The German Empire.</figcaption>
      </figure>
  </div>

  <div class="container">
    <h2>The Middle East Campaign</h2>
      <figure class="figure">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>German Empire</strong>
        <figcaption class="figure-caption">The German Empire.</figcaption>
      </figure>
  </div>

  <div class="container">
    <h2>The Africa Theater</h2>
      <figure class="figure">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>German Empire</strong>
        <figcaption class="figure-caption">The German Empire.</figcaption>
      </figure>
  </div>
</ion-content>
