<ion-header>
  <ion-toolbar>
    <ion-title>fronts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
        <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
          <img src="../../assets/WestFront.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col class="ion-text-center">
            <strong><h3>Western Front</h3></strong>
            <figcaption class="figure-caption">Overview:</figcaption>
            <p>
              dededednekdnednednekdneidnendiedniediedeidiediede
              jedkednedeidniedniendiedneidniendiedniedniediedni
              djedbedbkednediendiendiendiendiediedneindiendiend
              djededendiendiendiendenideidneideidneindeieidenid
            </p>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
        <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
          <img src="../../assets/EastFront.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col class="ion-text-center">
            <strong><h3>Eastern Front</h3></strong>
            <figcaption class="figure-caption">Overview:</figcaption>
            <p>
              dededednekdnednednekdneidnendiedniediedeidiediede
              jedkednedeidniedniendiedneidniendiedniedniediedni
              djedbedbkednediendiendiendiendiediedneindiendiend
              djededendiendiendiendenideidneideidneindeieidenid
            </p>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
        <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
          <img src="../../assets/BalkanFront.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col class="ion-text-center">
            <strong><h3>Balkans Front</h3></strong>
            <figcaption class="figure-caption">Overview:</figcaption>
            <p>
              dededednekdnednednekdneidnendiedniediedeidiediede
              jedkednedeidniedniendiedneidniendiedniedniediedni
              djedbedbkednediendiendiendiendiediedneindiendiend
              djededendiendiendiendenideidneideidneindeieidenid
            </p>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
        <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
          <img src="../../assets/ItalianFront.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col class="ion-text-center">
            <strong><h3>Italian Front</h3></strong>
            <figcaption class="figure-caption">Overview:</figcaption>
            <p>
              dededednekdnednednekdneidnendiedniediedeidiediede
              jedkednedeidniedniendiedneidniendiedniedniediedni
              djedbedbkednediendiendiendiendiediedneindiendiend
              djededendiendiendiendenideidneideidneindeieidenid
            </p>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
        <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
          <img src="../../assets/MidEast.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col class="ion-text-center">
            <strong><h3>Middle East Campaign</h3></strong>
            <figcaption class="figure-caption">Overview:</figcaption>
            <p>
              dededednekdnednednekdneidnendiedniediedeidiediede
              jedkednedeidniedniendiedneidniendiedniedniediedni
              djedbedbkednediendiendiendiendiediedneindiendiend
              djededendiendiendiendenideidneideidneindeieidenid
            </p>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
        <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
          <img src="../../assets/Africa.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col class="ion-text-center">
            <strong><h3>Africa Theater</h3></strong>
            <figcaption class="figure-caption">Overview:</figcaption>
            <p>
              dededednekdnednednekdneidnendiedniediedeidiediede
              jedkednedeidniedniendiedneidniendiedniedniediedni
              djedbedbkednediendiendiendiendiediedneindiendiend
              djededendiendiendiendenideidneideidneindeieidenid
            </p>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
        <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
          <img src="../../assets/PacificBattle.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col class="ion-text-center">
            <strong><h3>Asian-Pacific Campaign</h3></strong>
            <figcaption class="figure-caption">Overview:</figcaption>
            <p>
              dededednekdnednednekdneidnendiedniediedeidiediede
              jedkednedeidniedniendiedneidniendiedniedniediedni
              djedbedbkednediendiendiendiendiediedneindiendiend
              djededendiendiendiendenideidneideidneindeieidenid
            </p>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
        <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
          <img src="../../assets/MajorNaval.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col class="ion-text-center">
            <strong><h3>Naval Campaign</h3></strong>
            <figcaption class="figure-caption">Overview:</figcaption>
            <p>
              dededednekdnednednekdneidnendiedniediedeidiediede
              jedkednedeidniedniendiedneidniendiedniedniediedni
              djedbedbkednediendiendiendiendiediedneindiendiend
              djededendiendiendiendenideidneideidneindeieidenid
            </p>
        </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ------------------------- -->

</ion-content>
