<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Aftermath</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center ion-padding">
    <h6>
        Of the 11th month, on the 11th day, at the 11th hour...the Great War, that ravaged
        the world for four long bloody years—is over.
    </h6>
  </ion-card>

  <ion-header class="ion-text-center ion-padding">
    <strong>C</strong>entral Powers
  </ion-header>
      <ion-grid>
        <ion-card class="ion-text-center ion-padding ion-margin-top">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/GermanFlag.jpg" class="figure-img rounded" alt="GermanFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Germany</ion-card-subtitle>
                <ion-card-title>German Empire</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 13,000,000</strong></p> 
              <p><strong>Total casualties: 6,298,040</strong></p>  
                <p>
                  After the Allied Hundred Days Offensive, Germany, the 
                  last of the Central Powers, asked for an armistice. Kaiser 
                  Wilhelm II would abdicate later in 1918. And on Nov. 11, 
                  the guns on the Western Front would fall silent. After 
                  signing the Treaty of Versailles in 1919, Germany would 
                  lose 13% of its territory, reduce its Army size to one-hundred 
                  thousand, have a nonexistent navy or airforce, and pay massive 
                  war reparations. Finally, blaming the war on Germany would 
                  ultimately serve as the catalyst for World War II.
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/AustrianHungarianFlag.jpg.png" class="figure-img rounded" alt="AustrianHungarianFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Austro-Hungarian Empire</ion-card-subtitle>
                <ion-card-title>Austria-Hungary, Duel Monarchy</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 7,800,000</strong></p> 
              <p><strong>Total casualties: 4,820,000</strong></p>
                <p>
                  With the instability of the empire and its defeat after the Battle of 
                  Vittorio Veneto, Austria-Hungary would collapse. Splitting the empire 
                  between Austria, Hungary, Czechoslovakia, and what later would become 
                  Yugoslavia. Austria lost its lands to Italy and Allied forces, with 
                  Hungary being in worse shape by losing 72% of its territory.
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/OttomanFlag.jpg" class="figure-img rounded" alt="OttomanFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Ottoman Turkey</ion-card-subtitle>
                <ion-card-title>Ottoman Empire</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 2,600,000</strong></p> 
              <p><strong>Total casualties: 1,171,844</strong></p> 
                <p>
                  Joining its allies in their defeat, the Ottoman Empire would lose its lands 
                  on the southern tips of the Middle East to the British and France. Furthermore, 
                  Turkey continues its struggle, facing its own social unrest and the Entente 
                  wishing to take more out of the dying empire. With Turkey fighting and winning 
                  the Turkish War of Independence. Creating the modern state of the Republic of 
                  Turkey. In 1922.
                </p>
        </ion-card>
      </ion-grid>
      <br>
    
      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/BulgarianFlag.jpg" class="figure-img rounded" alt="BulgarianFlag">
            </ion-col>
            <!-- <ion-col> -->
              <ion-card-header>
                <ion-card-subtitle>Bulgaria</ion-card-subtitle>
                <ion-card-title>Kingdom of Bulgaria</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 1,200,000</strong></p> 
              <p><strong>Total casualties: 239,890</strong></p> 
                <p>
                  While being the smallest out of the Central Powers, Bulgaria was 
                  instrumental in the capture of Serbia and Montenegro, crippling 
                  Romania, and stiff resistance on the Macedonian Front. Carving its 
                  way through the Balkans until the bitter end in 1918.
                </p>
            <!-- </ion-col> -->
        </ion-card>
      </ion-grid>
      <br>

  <ion-header class="ion-text-center ion-padding">
    <strong>E</strong>ntente Powers
  </ion-header>
      <ion-grid>
        <ion-card class="ion-text-center ion-padding ion-margin-top">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/UKFlag.jpg" class="figure-img rounded" alt="UKFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>United Kingdom</ion-card-subtitle>
                <ion-card-title>British Empire</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 8,904,467</strong></p> 
              <p><strong>Total casualties: 3,205,126</strong></p> 
                <p>
                  The "Empire Where the Sun Never Sets" leaves the war, not with its head 
                  held up high—but stumbling out, bruised. Gaining colonies from the former 
                  German and Ottoman Empires at the cost of much of its wealth and youth. 
                  And although it would maintain the status of world power, the cracks within 
                  the realm were beginning to show. With Britain taking a softener stance as 
                  the years go on, well into Nazi Germany and the Axis Powers.
                </p>
        </ion-card>
      </ion-grid>
      <br>
      
      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/FrenchFlag.jpg" class="figure-img rounded" alt="FrenchFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>France</ion-card-subtitle>
                <ion-card-title>French Third Republic</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 8,410,000</strong></p> 
              <p><strong>Total casualties: 5,663,800</strong></p> 
                <p>
                  If the United Kingdom came out of the Great War in worse shape than joining 
                  in—France was bled white. Having lost over 65% of its fighting force, the 
                  3rd French Republic was somehow able to keep its mutinies during the war 
                  under the Germans' noses. Nevertheless, when the Great War ended, France 
                  got back Alsace–Lorraine. And was one of the three major powers who decided 
                  Germany's harsh fate—with the United States and the United Kingdom.
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/RussianFlag.jpg" class="figure-img rounded" alt="RussianFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Tsarist Russia</ion-card-subtitle>
                <ion-card-title>Russian Empire</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 12,000,000</strong></p> 
              <p><strong>Total casualties: 6,761,000</strong></p> 
                <p>
                  Suffering staggering losses in human lives and battles, the Russian Empire 
                  would go through two revolutions. Eventually fell to the Communist Bolsheviks 
                  in October 1917. And, after the Treaty of Brest-Litovsk would tear Russia into 
                  a new war: a civil war.
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/ItalianFlag.jpg" class="figure-img rounded" alt="ItalianFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Italy</ion-card-subtitle>
                <ion-card-title>Kingdom of Italy</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 5,093,000</strong></p> 
              <p><strong>Total casualties: 1,416,277</strong></p> 
                <p>
                  Switching sides in 1915, the Kingdom of Italy was promised large sums of money 
                  and territory from the Treaty of London. While Italy would get some of what it 
                  was promised by the Entente…it fell far short. Moreover, after losing ⅕ of its 
                  Armed Forces and being treated as a minor power at Versailles.
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/BelgianFlag.jpg" class="figure-img rounded" alt="BelgianFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Belgium</ion-card-subtitle>
                <ion-card-title>Kingdom of Belgium</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 380,000</strong></p> 
              <p><strong>Total casualties: 58,401</strong></p> 
                <p>
                  Ending its neutrality by the war's end, the Kingdom of Belgium would demand 
                  concessions at Versailles. However, the rewards were mild at best in terms 
                  of strategic regions, cash, or colonial expansion.
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/SerbianFlag.jpg .png" class="figure-img rounded" alt="SerbianFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Serbia</ion-card-subtitle>
                <ion-card-title>Kingdom of Serbia</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 707,343</strong></p> 
              <p><strong>Total casualties: 258,148</strong></p> 
                <p>
                  Being the first in the war, Serbia was far more demanding than Belgium. 
                  Demanding more concessions from the war—and succeeding. With the formation 
                  of Yugoslavia, by December 1918.
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/USFlag.jpg" class="figure-img rounded" alt="USFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>America</ion-card-subtitle>
                <ion-card-title>United States of America</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 4,743,826</strong></p> 
              <p><strong>Total casualties: 318,203</strong></p> 
                <p>
                  Having little influence in 1914…the U.S. had a new sense of importance on 
                  the world stage. Helping greatly with the deployment of 2 million soldiers 
                  to assist the French and British finally defeating the German Army. Intended 
                  to create a league and set of points, the 14 Points, that the world should 
                  now move forward with, proposed by U.S. President Woodrow Wilson. However, 
                  many of Wilson's 14 Points were ignored by the European Powers of the Allies 
                  and Congress, denying America's entry to join the League of Nations. 
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/JapaneseFlag.jpg" class="figure-img rounded" alt="JapaneseFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Imperial Japan</ion-card-subtitle>
                <ion-card-title>Empire of Japan</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 800,000</strong></p> 
              <p><strong>Total casualties: 1,207</strong></p> 
                <p>
                  For their military merit, the Empire of Japan was granted the German 
                  colonies and territories it took during the war. From the Marianas to the 
                  Marshall Islands. Nevertheless, Japanese representatives at Versailles felt 
                  snubbed by the other Allied powers. A seemingly small offensive with grave 
                  consequences twenty years later.
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/GreekFlag.jpg" class="figure-img rounded" alt="GreekFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Greece</ion-card-subtitle>
                <ion-card-title>Kingdom of Greece</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 230,000</strong></p> 
              <p><strong>Total casualties: 26,000</strong></p> 
                <p>
                  For their effort during the war, Greece was able to gain more territory 
                  out of Bulgaria from its southwest territory on the coast. However, 
                  being one of the leading powers in the Aegean Sea and promises from the 
                  Entente for a piece of the Ottoman Empire—the Greek Army would invade 
                  Turkey. Eventually thrown out by Turkish forces, under the command of 
                  Atatürk, by 1922. 
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/RomanianFlag.jpg" class="figure-img rounded" alt="RomanianFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Romania</ion-card-subtitle>
                <ion-card-title>Kingdom of Romania</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 750,000</strong></p> 
              <p><strong>Total casualties: 455,706</strong></p> 
                <p>
                  Despite having to sign an armistice with the Central Powers in 1917, Romania 
                  was able to turn its fortunes with Austria's collapse. Queen Marie of Romania 
                  convinced the Entente Powers to grant large chunks of land and recognition. Due 
                  to Romania's strategic location and to act as a buffer between Europe and Russia. 
                </p>
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/PortugueseFlag.jpg" class="figure-img rounded" alt="PortugueseFlag">
            </ion-col>
              <ion-card-header>
                <ion-card-subtitle>Portuguese</ion-card-subtitle>
                <ion-card-title>Portuguese Republic</ion-card-title>
              </ion-card-header>
              <p><strong>Total participants: 65,166</strong></p> 
              <p><strong>Total casualties: 20,973</strong></p> 
                <p>
                  Spending much of the Portuguese Army on the African continent and some units on the 
                  Western Front—Portugal gained the port of Kionga.
                </p>
        </ion-card>
      </ion-grid>
      <br>
</ion-content>
