<ion-header>
  <ion-toolbar>
    <ion-title>aftermath</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum gravida nunc, nec semper ligula pharetra ac. 
      Quisque hendrerit risus ornare tortor commodo dictum. Donec ultrices nibh faucibus, semper ipsum sollicitudin, consequat 
      urna. In sed purus molestie turpis vehicula vehicula. Sed suscipit leo eget dolor aliquam feugiat. Aliquam vitae vulputate 
      velit. Proin dictum, diam id elementum sagittis, nibh nulla suscipit velit, ac accumsan turpis purus sed erat. In nulla magna.
    </p>

    <h1 class="text-center"></h1>
<!-- Directly underneath is the objective for have the country's flag, total participants and casualties (or dead) -->
    <h2>Central Powers</h2>
      <ul class="list-group">
        <li class="list-group-item">German Empire
          <img src="../../assets/GermanFlag.jpg" class="img-thumbnail" alt="...">
          <p>Total participants: </p>
          <p>Total casualties: </p>
        </li>
        <li class="list-group-item">Austro-Hungarian Empire
          <img src="../../assets/AustrianHungarianFlag.jpg.png" class="img-thumbnail" alt="...">
          <p>Total participants: </p>
          <p>Total casualties: </p>
        </li>
      </ul>
      <!-- <picture>
        <source srcset="../../assets/GermanFlag.jpg" type="image/svg+xml">
        <img src="../../assets/GermanFlag.jpg" class="img-fluid img-thumbnail" alt="...">
      </picture> -->
  </div>

  <div class="container">
    <h2>Central Powers</h2>
      <figure class="figure">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Germany</strong>
        <figcaption class="figure-caption">German Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/AustrianHungarianFlag.jpg.png" class="figure-img img-fluid rounded" alt="...">
        <strong>Austria-Hungary</strong>
        <figcaption class="figure-caption">Austro-Hungarian Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/OttomanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Turkey</strong>
        <figcaption class="figure-caption">Ottoman Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/BulgarianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Bulgaria</strong>
        <figcaption class="figure-caption">Kingdom of Bulgaria</figcaption>
      </figure>

    <h2>Entente Powers</h2>
      <figure class="figure">
        <img src="../../assets/UKFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>United Kingdom</strong>
        <figcaption class="figure-caption">British Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/FrenchFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>France</strong>
        <figcaption class="figure-caption">French Third Republic</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/RussianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Russia</strong>
        <figcaption class="figure-caption">Russian Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/ItalianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Italy</strong>
        <figcaption class="figure-caption">Kingdom of Italy</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/BelgianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Belgium</strong>
        <figcaption class="figure-caption">Kingdom of Belgium</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/SerbianFlag.jpg .png" class="figure-img img-fluid rounded" alt="...">
        <strong>Serbia</strong>
        <figcaption class="figure-caption">Kingdom of Serbia</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/USFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>United States</strong>
        <figcaption class="figure-caption">United States of America</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/JapaneseFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Japan</strong>
        <figcaption class="figure-caption">Empire of Japan</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/GreekFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Greece</strong>
        <figcaption class="figure-caption">Kingdom of Greece</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/RomanianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Romania</strong>
        <figcaption class="figure-caption">Kingdom of Romania</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/PortugueseFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Portugal</strong>
        <figcaption class="figure-caption">Portuguese Republic</figcaption>
      </figure>
  </div>
</ion-content>
