<!-- API: express, Firebase, mongoDB StandardQuery(For like & dislike system) -->
<!-- *Database: mongoDB
*API: Node.js
*Calling routs of API: Angular -->
<!-- LOOK AT UDEMY COURSE FOR NODE.JS (8/9/21) -->
<!-- Pick a framework and backend program to get a like/dislike system 
running. Make sure to have an 'admin' page/section for recording
the data! (8/3/21) -->
<!-- (10/4/21) Install Firebase tomorrow and get started on like system finally! -->

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>The Great War</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card class="ion-text-center ion-padding">
      <ion-card-title>The Great War Wiki</ion-card-title>
        <ion-col class="img-responsive" size="12" size-md="9" size-lg="9">
          <img src="../../assets/WW1Flag.jpg" class="figure-img rounded" alt="...">
        </ion-col>
        <ion-col>
          <ion-button color="primary">Log Out</ion-button>
        </ion-col>
    </ion-card>
  </ion-grid>
  <br>
</ion-content>
