<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>The Great War</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="container">
    <div class="row">
      <strong class="col-7">The Great War Info</strong>
      <img src="../../assets/WW1Flag.jpg" class="col-14 col-md-14 col-lg-9 w-sm-100" alt="Great_War_Map"> -->
      <!-- <ion-img src="../../assets/WW1Flag.jpg" class="img-fluid col-9" alt="Great_War_Map"></ion-img> -->
    <!-- </div>
  </div> -->

  <!--ABOVE IS ORIGINAL CODE (07/06/21)-->
  <!-- NEW NOTE (7/8/21) Edit later -->
  <!-- Below is Code helped out by 'Southern Victory' Code -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container container-fluid">
      <div class="row">
        <strong class="col-7">The Great War Info</strong>
        <ion-img src="../../assets/WW1Flag.jpg" class="img-fluid" alt="Great_War_Map"></ion-img>
      </div>
    </div>
  </div>
</ion-content>
