<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Participants</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header class="ion-text-center ion-padding">
    <strong>C</strong>entral Powers
  </ion-header>
      <ion-grid>
        <ion-card class="ion-text-center ion-padding ion-margin-top">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/GermanFlag.jpg" class="figure-img rounded" alt="GermanFlag">
            </ion-col>
            <!-- <ion-col> -->
              <ion-card-header>
                <ion-card-subtitle>Germany</ion-card-subtitle>
                <ion-card-title>German Empire</ion-card-title>
              </ion-card-header>
                <p>
                  Joining the war in 1914 in support of its Austrian 
                  ally, the German Empire would strike and fight on bitter fronts against 
                  the Entente armies. From the fields of Northern France to the frozen steps of 
                  Russia. Solidifying Germany’s crucial role against its enemies and 
                  leadership amongst the Central Powers. 
                </p>
            <!-- </ion-col> -->
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/AustrianHungarianFlag.jpg.png" class="figure-img rounded" alt="AustrianHungarianFlag">
            </ion-col>
            <!-- <ion-col> -->
              <ion-card-header>
                <ion-card-subtitle>Austro-Hungarian Empire</ion-card-subtitle>
                <ion-card-title>Austria-Hungary, Duel Monarchy</ion-card-title>
              </ion-card-header>
                <p>
                  Declaring war on Serbia for the assassination of Archduke Franz 
                  Ferdinand, heir to the Austrian-Hungarian throne, the multi-ethnic 
                  empire poured its efforts into the fight. Suffering initial defeat 
                  against the smaller Serbia and far bigger Russia. Austria would 
                  show its more remarkable triumph against the Italians along the 
                  Dolomites and Isonzo River. Eventually, with the help of Germany, 
                  they defeated the Russian Empire and most of the allied armies 
                  in the east.
                </p>
            <!-- </ion-col> -->
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/OttomanFlag.jpg" class="figure-img rounded" alt="OttomanFlag">
            </ion-col>
            <!-- <ion-col> -->
              <ion-card-header>
                <ion-card-subtitle>Ottoman Turkey</ion-card-subtitle>
                <ion-card-title>Ottoman Empire</ion-card-title>
              </ion-card-header>
                <p>
                  Carrying out a surprise attack on Russia’s Black Sea coast, 
                  the Ottoman Empire, dubbed “the Sick Man of Europe,” throws 
                  its ancient weight behind Germany and Austria. Turning much 
                  of the Allied attention against Turkey’s holding, particularly 
                  with the British. Managing to earn its place with the victory 
                  against the Allies for Gallipoli. Proved vital in establishing 
                  the Republic of Turkey, after the war, by the battle-hearten 
                  veterans, such as Mustafa Kemal Atatürk.
                </p>
            <!-- </ion-col> -->
        </ion-card>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-card class="ion-text-center ion-padding">
            <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
              <img src="../../assets/BulgarianFlag.jpg" class="figure-img rounded" alt="BulgarianFlag">
            </ion-col>
            <!-- <ion-col> -->
              <ion-card-header>
                <ion-card-subtitle>Bulgaria</ion-card-subtitle>
                <ion-card-title>Kingdom of Bulgaria</ion-card-title>
              </ion-card-header>
                <p>
                  While being the smallest out of the Central Powers, Bulgaria was 
                  instrumental in the capture of Serbia and Montenegro, crippling 
                  Romania, and stiff resistance on the Macedonian Front. Carving its 
                  way through the Balkans until the bitter end in 1918.
                </p>
            <!-- </ion-col> -->
        </ion-card>
      </ion-grid>
      <br>

  <ion-header class="ion-text-center ion-padding">
    <strong>E</strong>ntente Powers
  </ion-header>
    <ion-grid>
      <ion-card class="ion-text-center ion-padding ion-margin-top">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/UKFlag.jpg" class="figure-img rounded" alt="UKFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>United Kingdom</ion-card-subtitle>
              <ion-card-title>British Empire</ion-card-title>
            </ion-card-header>
              <p>
                In response to the German invasion of Belgium, the wrath of the British 
                Empire was brought into the conflict. Expanding the war into a world war 
                as Great Britain’s rule of over ¼ of the world entered on its side. Pouring 
                centuries of wealth, resources, and men against the Central Powers, becoming 
                a leading Allied Power.
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/FrenchFlag.jpg" class="figure-img rounded" alt="FrenchFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>France</ion-card-subtitle>
              <ion-card-title>French Third Republic</ion-card-title>
            </ion-card-header>
              <p>
                Bearing a grudge from their defeat in the Franco-Prussian War and its alliance 
                with the Russian Empire, the Republic of France was more than willing to fight 
                against its German enemies. Fighting for its sovereignty in its homeland and 
                throughout the globe for its colonies. Became one of the few nations with an 
                actual motorized army by 1918.
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/RussianFlag.jpg" class="figure-img rounded" alt="RussianFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>Tsarist Russia</ion-card-subtitle>
              <ion-card-title>Russian Empire</ion-card-title>
            </ion-card-header>
              <p>
                A country with the most considerable territory from Central Europe to the Pacific. 
                When Austria declared war on Serbia on July 28, 1914, the Russian Empire mobilized 
                on July 30, 1914. Two days later, the German Empire declared war on Russia. Although 
                the Tsarist state suffered heavy losses throughout the Great War, the Russian Empire 
                managed to hold its own against all of the Central Powers on the Eastern Front. 
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/ItalianFlag.jpg" class="figure-img rounded" alt="ItalianFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>Italy</ion-card-subtitle>
              <ion-card-title>Kingdom of Italy</ion-card-title>
            </ion-card-header>
              <p>
                Once being a part of the Triple Alliance with Germany and Austria, the Kingdom of Italy 
                would initially stay neutral, as the pact was only a defensive agreement. However, 
                following the Treaty of London in 1915, the Kingdom of Italy would fight alongside the 
                Entente Powers. Battling its Austrian counterparts in the mountainous terrain of the 
                Alps and taking part in campaigns against its former allies. 
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/BelgianFlag.jpg" class="figure-img rounded" alt="BelgianFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>Belgium</ion-card-subtitle>
              <ion-card-title>Kingdom of Belgium</ion-card-title>
            </ion-card-header>
              <p>
                The Kingdom of Belgium was perhaps one of the few nations whose country was nearly 
                entirely occupied from 1914 to 1918…and kept fighting to the bitter end. Whether 
                it be in the trenches with their English and French allies. Or in the jungles of 
                Congo against German East Africa. The Belgium Army was always ready for a fight.
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/SerbianFlag.jpg .png" class="figure-img rounded" alt="SerbianFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>Serbia</ion-card-subtitle>
              <ion-card-title>Kingdom of Serbia</ion-card-title>
            </ion-card-header>
              <p>
                One of the first nations to fight, Serbia and its neighbor, Montenegro, would hold 
                off two separate Austrian invasions. Ultimately taking the combined efforts of 
                the Central Powers—and the recently joined Bulgaria—to finally smash the Kingdom 
                of Serbia in 1915. Yet, after reorganizing in neutral Greece, the Serbian Army would 
                fight to eventually liberate its country by the war’s end.
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/USFlag.jpg" class="figure-img rounded" alt="USFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>America</ion-card-subtitle>
              <ion-card-title>United States of America</ion-card-title>
            </ion-card-header>
              <p>
                Neutral through most of the Great War, American public opinion would slowly change. 
                Whether it be from the less favorable view of the German invasion of neutral Belgium 
                or the sinking of the Lusitania—a British cruise vessel carrying munitions and Americans 
                on board. America would throw its weight behind the Allied Powers in 1917, following 
                the Zimmerman Telegram. Finally, boosting Entente confidence after the surrender of 
                Russia. Helping to eventually lead the United States down the path of world power 
                and ultimately a superpower by the end of the 2nd World War.
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/JapaneseFlag.jpg" class="figure-img rounded" alt="JapaneseFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>Imperial Japan</ion-card-subtitle>
              <ion-card-title>Empire of Japan</ion-card-title>
            </ion-card-header>
              <p>
                Entering the war a short time after England’s declaration of war against Germany, the 
                Empire of Japan played an essential role in the Far East. Securing the islands near 
                the coast of China and the rest of the Pacific, in conjunction with Entente countries 
                nearby, held by the German Empire. 
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/GreekFlag.jpg" class="figure-img rounded" alt="GreekFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>Greece</ion-card-subtitle>
              <ion-card-title>Kingdom of Greece</ion-card-title>
            </ion-card-header>
              <p>
                Being neutral for the majority of the conflict, the Kingdom of Greece, following King 
                Constantine I—who was more in favor of the Central Powers—abdicating his throne, 
                declared war on the Central Powers. Assisting greatly in the Macedonian Front against 
                the Bulgarians.
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/RomanianFlag.jpg" class="figure-img rounded" alt="RomanianFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>Romania</ion-card-subtitle>
              <ion-card-title>Kingdom of Romania</ion-card-title>
            </ion-card-header>
              <p>
                The Kingdom of Romania joined in 1916 on the side of the Entente. Following the 
                successful Russian Brusilov Offensive, Romania diverted many resources from Germany 
                and her allies. However, Romania was decimated in a few short months and faced a 
                temporary occupation once the Russian Empire dropped out of the war and into its civil 
                war.
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>

    <ion-grid>
      <ion-card class="ion-text-center ion-padding">
          <ion-col class="img-responsive" size="9" size-sm="7" size-md="5" size-lg="3"> 
            <img src="../../assets/PortugueseFlag.jpg" class="figure-img rounded" alt="PortugueseFlag">
          </ion-col>
          <!-- <ion-col> -->
            <ion-card-header>
              <ion-card-subtitle>Portuguese</ion-card-subtitle>
              <ion-card-title>Portuguese Republic</ion-card-title>
            </ion-card-header>
              <p>
                In 1916, following an incident between the Portuguese and a German supply vessel, 
                the German Empire declared war on Portugal. From 1917 to 1918, the PEC (Portuguese 
                Expeditionary Corps) would fight on the Western Front.
              </p>
          <!-- </ion-col> -->
      </ion-card>
    </ion-grid>
    <br>
</ion-content>
