<ion-header>
  <ion-toolbar>
    <ion-title>participants</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>Central Powers</ion-header>
      <!-- Second Size Edit -->
      <!-- Ionic Utilities -->
      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
            <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
              <img src="../../assets/GermanFlag.jpg" class="figure-img rounded" alt="...">
            </ion-col>
            <ion-col class="ion-text-center">
                <strong>Germany</strong>
                <figcaption class="figure-caption">German Empire</figcaption>
                <p>
                  dededednekdnednednekdneidnendiedniediedeidiediede
                  jedkednedeidniedniendiedneidniendiedniedniediedni
                  djedbedbkednediendiendiendiendiediedneindiendiend
                  djededendiendiendiendenideidneideidneindeieidenid
                </p>
            </ion-col>
        </ion-row>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
            <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
              <img src="../../assets/AustrianHungarianFlag.jpg.png" class="figure-img rounded" alt="...">
            </ion-col>
            <ion-col class="ion-text-center">
                <strong>Austria-Hungary</strong>
                <figcaption class="figure-caption">Austro-Hungarian Empire</figcaption>
                <p>
                  dededednekdnednednekdneidnendiedniediedeidiediede
                  jedkednedeidniedniendiedneidniendiedniedniediedni
                  djedbedbkednediendiendiendiendiediedneindiendiend
                  djededendiendiendiendenideidneideidneindeieidenid
                </p>
            </ion-col>
        </ion-row>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
            <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
              <img src="../../assets/OttomanFlag.jpg" class="figure-img rounded" alt="...">
            </ion-col>
            <ion-col class="ion-text-center">
                <strong>Turkey</strong>
                <figcaption class="figure-caption">Ottoman Empire</figcaption>
                <p>
                  dededednekdnednednekdneidnendiedniediedeidiediede
                  jedkednedeidniedniendiedneidniendiedniedniediedni
                  djedbedbkednediendiendiendiendiediedneindiendiend
                  djededendiendiendiendenideidneideidneindeieidenid
                </p>
            </ion-col>
        </ion-row>
      </ion-grid>
      <br>

      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
            <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
              <img src="../../assets/BulgarianFlag.jpg" class="figure-img rounded" alt="...">
            </ion-col>
            <ion-col class="ion-text-center">
                <strong>Bulgaria</strong>
                <figcaption class="figure-caption">Kingdom of Bulgaria</figcaption>
                <p>
                  dededednekdnednednekdneidnendiedniediedeidiediede
                  jedkednedeidniedniendiedneidniendiedniedniediedni
                  djedbedbkednediendiendiendiendiediedneindiendiend
                  djededendiendiendiendenideidneideidneindeieidenid
                </p>
            </ion-col>
        </ion-row>
      </ion-grid>
      <br>

  <ion-header>Entente Powers</ion-header>
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/UKFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>United Kingdom</strong>
              <figcaption class="figure-caption">British Empire</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/FrenchFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>France</strong>
              <figcaption class="figure-caption">French Third Republic</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/RussianFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>Russia</strong>
              <figcaption class="figure-caption">Russian Empire</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/ItalianFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>Italy</strong>
              <figcaption class="figure-caption">Kingdom of Italy</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/BelgianFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>Belgium</strong>
              <figcaption class="figure-caption">Kingdom of Belgium</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/SerbianFlag.jpg .png" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>Serbia</strong>
              <figcaption class="figure-caption">Kingdom of Serbia</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/USFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>United States</strong>
              <figcaption class="figure-caption">United States of America</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/JapaneseFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>Japan</strong>
              <figcaption class="figure-caption">Empire of Japan</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/GreekFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>Greece</strong>
              <figcaption class="figure-caption">Kingdom of Greece</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/RomanianFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>Romania</strong>
              <figcaption class="figure-caption">Kingdom of Romania</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
          <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
            <img src="../../assets/PortugueseFlag.jpg" class="figure-img rounded" alt="...">
          </ion-col>
          <ion-col class="ion-text-center">
              <strong>Portugal</strong>
              <figcaption class="figure-caption">Portuguese Republic</figcaption>
              <p>
                dededednekdnednednekdneidnendiedniediedeidiediede
                jedkednedeidniedniendiedneidniendiedniedniediedni
                djedbedbkednediendiendiendiendiediedneindiendiend
                djededendiendiendiendenideidneideidneindeieidenid
              </p>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
