<ion-header>
  <ion-toolbar>
    <ion-title>participants</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>Central Powers</ion-header>
      <!-- Second Size Edit -->
      <!-- Ionic Utilities -->
    <!-- <div class="container"> -->
      <ion-grid>
        <ion-row class="ion-justify-content-evenly">
          <!-- <ion-col> -->
            <ion-col class="ion-text-center">
              <!-- <div class="row order-12">                 -->
                <strong>Germany</strong>
                <figcaption class="figure-caption">German Empire</figcaption>
                <p>
                  dededednekdnednednekdneidnendiedniediedeidiediede
                  jedkednedeidniedniendiedneidniendiedniedniediedni
                  djedbedbkednediendiendiendiendiediedneindiendiend
                  djededendiendiendiendenideidneideidneindeieidenid
                </p>
              <!-- </div> -->
            </ion-col>
        <!-- </ion-row>
        <ion-row class="ion-justify-content-end"> -->
            <!-- (7/17/21) Find a way to order the image above text when sm -->
            <ion-col size="9" size-sm="6" size-md="4" size-lg="3"> 
              <!-- <div class="row"> -->
                <img src="../../assets/GermanFlag.jpg" class="figure-img rounded" alt="...">
              <!-- </div> -->
            </ion-col>
            <!-- <ion-col class="ion-text-sm-center">
              <div>
                <p>
                  dededednekdnednednekdneidnendiedniediedeidiediede
                  jedkednedeidniedniendiedneidniendiedniedniediedni
                  djedbedbkednediendiendiendiendiediedneindiendiend
                  djededendiendiendiendenideidneideidneindeieidenid
                </p>
              </div>
            </ion-col> -->
          <!-- </ion-col> -->
            <!-- <div class="row p-2 pt-4">
              <div class="col-md lead order-12">
                <strong>Germany</strong>
                <figcaption class="figure-caption">German Empire</figcaption>
              </div>
              <div class="col-9 col-sm-6 col-md-4 col-lg-3 mx-auto order-1">
                <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
              </div>
            </div> -->
        </ion-row>
      </ion-grid>
    <!-- </div> -->
      
  <div class="container">
    <h2>Central Powers</h2>
    
    <!-- First Size Edit -->
    <div class="row p-2 pt-4">
      <div class="col-md lead order-12">
        <strong>Germany</strong>
        <figcaption class="figure-caption">German Empire</figcaption>
      </div>
      <div class="col-9 col-sm-6 col-md-4 col-lg-3 mx-auto order-1">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
      </div>
    </div>

    <div class="row p-2 pt-4">
      <div class="col-md lead order-12">
        <strong>Austria-Hungary</strong>
        <figcaption class="figure-caption">Austro-Hungarian Empire</figcaption>
      </div>
      <div class="col-9 col-sm-6 col-md-4 col-lg-3 mx-auto order-1">
        <img src="../../assets/AustrianHungarianFlag.jpg.png" class="figure-img img-fluid rounded" alt="...">
      </div>
    </div>

    <div class="row p-2 pt-4">
      <div class="col-md lead order-12">
        <strong>Turkey</strong>
        <figcaption class="figure-caption">Ottoman Empire</figcaption>
      </div>
      <div class="col-9 col-sm-6 col-md-4 col-lg-3 mx-auto order-1">
        <img src="../../assets/OttomanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
      </div>
    </div>

    <div class="row p-2 pt-4">
      <div class="col-md lead order-12">
        <strong>Bulgaria</strong>
        <figcaption class="figure-caption">Kingdom of Bulgaria</figcaption>
      </div>
      <div class="col-9 col-sm-6 col-md-4 col-lg-3 mx-auto order-1">
        <img src="../../assets/BulgarianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
      </div>
    </div>

<!-- ---------------------------------------- -->

    <!-- <h2>Central Powers</h2> -->
      <!-- *Original Size Edit* -->
      <!-- <figure class="figure">
        <img src="../../assets/GermanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Germany</strong>
        <figcaption class="figure-caption">German Empire</figcaption>
      </figure> -->

      <!-- <figure class="figure">
        <img src="../../assets/AustrianHungarianFlag.jpg.png" class="figure-img img-fluid rounded" alt="...">
        <strong>Austria-Hungary</strong>
        <figcaption class="figure-caption">Austro-Hungarian Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/OttomanFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Turkey</strong>
        <figcaption class="figure-caption">Ottoman Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/BulgarianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Bulgaria</strong>
        <figcaption class="figure-caption">Kingdom of Bulgaria</figcaption>
      </figure> -->

    <h2>Entente Powers</h2>
      <figure class="figure">
        <img src="../../assets/UKFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>United Kingdom</strong>
        <figcaption class="figure-caption">British Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/FrenchFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>France</strong>
        <figcaption class="figure-caption">French Third Republic</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/RussianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Russia</strong>
        <figcaption class="figure-caption">Russian Empire</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/ItalianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Italy</strong>
        <figcaption class="figure-caption">Kingdom of Italy</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/BelgianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Belgium</strong>
        <figcaption class="figure-caption">Kingdom of Belgium</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/SerbianFlag.jpg .png" class="figure-img img-fluid rounded" alt="...">
        <strong>Serbia</strong>
        <figcaption class="figure-caption">Kingdom of Serbia</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/USFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>United States</strong>
        <figcaption class="figure-caption">United States of America</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/JapaneseFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Japan</strong>
        <figcaption class="figure-caption">Empire of Japan</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/GreekFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Greece</strong>
        <figcaption class="figure-caption">Kingdom of Greece</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/RomanianFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Romania</strong>
        <figcaption class="figure-caption">Kingdom of Romania</figcaption>
      </figure>
      <figure class="figure">
        <img src="../../assets/PortugueseFlag.jpg" class="figure-img img-fluid rounded" alt="...">
        <strong>Portugal</strong>
        <figcaption class="figure-caption">Portuguese Republic</figcaption>
      </figure>
  </div>


</ion-content>
